@import url('https://fonts.googleapis.com/css2?family=Acme&family=Charm:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Dosis:wght@200..800&family=Homemade+Apple&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Merienda:wght@300..900&family=Oranienbaum&family=Rubik+Doodle+Shadow&family=Satisfy&family=Tangerine:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

body {
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: white;
}

.parallex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.785);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.parallex img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

}

.sec {
  position: relative;
  background: #003329;
  padding: 100px;
}

.sec h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: white;
  font-weight: 300;
  justify-content: center;
}